<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<rule name="Domain to WWW redirect" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{CACHE_URL}" pattern="^(.+)://(?!www)(.*)" />
					</conditions>
					<action type="Redirect" url="{C:1}://www.{C:2}" redirectType="Permanent" />
				</rule>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
				<rule name="Controleren">
					<match url="([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/" />
					<action type="Rewrite" url="controleer.html?uitnodigingscode={R:1}&amp;code2={R:2}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
